<h3> Actions </h3>
<ul>
	<li> <a href="localhost:3501/blog/<%= post.name %>"> Permalink </a> </li>
	<li> twitter </li>
	<li> github </li>
	<li> linkedin </li>
	<li> <a href="localhost:3501"> Back </a> </li>
</ul>